@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #060608;
    @apply text-white font-sans antialiased;
    overflow-x: hidden;
  }

  h1, h2, h3, h4, .font-rajdhani {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
  }

  .font-inter {
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .glass-premium {
    @apply bg-[#0d0d0f]/80 backdrop-blur-3xl border border-white/5;
  }
  
  .glass-card-peak {
    @apply bg-white/[0.02] backdrop-blur-3xl border border-white/5 rounded-[40px] shadow-2xl;
  }
  
  .nav-item-active {
    @apply bg-white text-black shadow-[0_0_30px_rgba(255,255,255,0.15)] scale-105;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.1);
}

::selection {
  background: white;
  color: black;
}
